<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no, minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" />

	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	<link rel="stylesheet" href="base.css">
	<link rel="stylesheet" href="customer-appraise.css">

	<script src="/static/js/base.js"> </script>

	<!--{% block head%}{% end %} -->


</head>

<body>
	<div class="header">
		<h1>评价</h1>
	</div>
	<div class="content">
		<div class="history">
			<div class="label">时间</div>
			<div class="item">
				<div class="name">宫爆鸡丁</div>
				<div class="feedback">
					<div class="fb fb1 pressed">好吃</div>
					<div class="fb fb2">一般</div>
					<div class="fb fb3">不好吃</div>
				</div>
			</div>
			<div class="item">
				<div class="name">宫爆鸡丁</div>
				<div class="feedback">
					<div class="fb fb1">好吃</div>
					<div class="fb fb2">一般</div>
					<div class="fb fb3">不好吃</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>